<!-- Call to action button with enhanced styling -->
<a href="{{ include.href }}"
  class="inline-flex items-center bg-primary-500 text-white 
  px-6 py-3 rounded-md shadow-lg hover:shadow-xl hover:translate-y-[-2px] transition duration-200 no-underline"
  {% if include.id %}id="{{ include.id }}"{% endif %}
  {% if include.target %}target="{{ include.target }}"{% endif %}
  {% if include.rel %}rel="{{ include.rel }}"{% endif %}
>
  {{ include.text }}
  {% if include.icon_after %}
  <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 
    7m7-7H3"></path>
  </svg>
  {% endif %}
</a>